<?xml version="1.0"?>
<phpunit colors="true" bootstrap="cfg/bootstrap.php">
	<testsuites>
		<testsuite name="test-it-works">
			<directory>test-it-works</directory>
		</testsuite>
		<testsuite name="options-pixie">
			<directory>options-pixie</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../src</directory>
			<exclude>
				<file>../src/admin/index.php</file>
				<file>../src/admin/partials/options-pixie-admin-display.php</file>
				<file>../src/includes/index.php</file>
				<file>../src/index.php</file>
				<file>../src/options-pixie.php</file>
				<file>../src/uninstall.php</file>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
